@import "../theme.scss";

.routeHead {
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.headerActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .custom-control-input:checked ~ .custom-control-label::before{
        border-color: $primaryColor;
        background-color: $primaryColor;
    }
}

.table {
    background-color: #ffffff;
    th {
        color: $secondaryTextColor;
        font-weight: 500;
    }
    tr td{
        &.actions{
            display: flex;
        }
    }
    &.appointments {
        tr td{
            &:first-child {
                color: $primaryTextColor;
                font-weight: 600;
            }
            &.actions{
                > div {
                    height: 20px;
                    width: 20px;
                    cursor: pointer;
                }
                .accept {
                    margin-right: 0.5em;
                }
            }
        }
    }
}