@import "../theme.scss";

.catalog {
    tr td.actions .reStock {
        color: #00b48c;
        font-size: 0.9em;
        font-weight: 500;
        cursor: pointer;
    }
}

table.reStock {
    margin-top: 1em;
    border: 1px solid #dee2e8;
    border-top: none;
}

.catalogContent {
    .badge{
        padding: 0.5em 1em;
        font-size: 1em;
        font-weight: 500;
        margin: 1em 0.8em 0 0;
        border: 1px solid $secondaryTextColor;
        border-radius: 2em;
        color: $secondaryTextColor;
        cursor: pointer;
        background: none;
        &.active {
            border: 1px solid $primaryTextColor;
            color: $primaryTextColor;
            background: #ffffff;
        }
    }
}