@import "../main.scss";
@import "../theme.scss";


.appBrand {
    height: $headerHeight;
    border-bottom: 1px solid $borderColor;
    padding: 0 1em;
    display: flex;
    align-items: center;
    .logo {
        height: 30px;
        width: 30px;
        margin-right: 0.5em;
    }
    .name {
        .app {font-weight: 600;}
        .owner {font-size: 0.75em;}
    }
}

.appNav{
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    a {
        color: $secondaryTextColor;
        font-weight: 500;
        padding: 0.7em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        &:hover, &.active {
            background-color: #edf9ef;
        }
        &.active { color: $primaryColor; }
        svg {margin-right: 1em;}
        span{
            display: flex;
            align-items: center;
            &.wallet {
                font-size: 0.85em;
                font-weight: normal;
            }
        }
    }
}

.appProfile {
    bottom: 0;
    position: absolute;
    height: 6vh;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 1em;
    .image {
        height: 2em;
        width: 2em;
        background: #989898;
        margin-right: 0.5em;
    }
    .name {
        color: $secondaryTextColor;
        flex: 1;
        margin-right: 0.5em;
    }
}