@import "./custom.scss";

@import "./main.scss";
@import "./theme.scss";

body {
    font-size: 0.9em;
    background-color: $backgroundColor;
}

.appLeftNav {
    border-right: 1px solid $borderColor;
    height: 100vh;
    background: #ffffff;
    box-shadow: -4px 0px 5px 0px #000;
}

.paddingLeft0 {
    padding: 0;
}

.routeViewWrapper {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .routeViewContent {flex: 1;
        >.row{
            max-height: 100%;
        }
    }
    .tabWrapper {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        .tab-content{
            flex: 1;
            overflow-y: auto;
        }
    }
}